{{> menu active="about"}}

<section class="hero">
    <div class="container">

        <h1 class="title has-text-centered">
            <i class="fa-solid fa-map-location-dot"></i>
            myPOI
        </h1>
        <p class="subtitle has-text-centered">
            Organise and categorise your favorite points of interest
        </p>
        <hr>
        <div class="columns">
            <div class="column">
                <h2 class="subtitle">
                    What is myPOI?
                </h2>
                <p>
                    myPOI is a web application that allows you to save and categorise your favorite points of interest, such as restaurants, parks, museums, and more. With Placemark App, you can easily keep track of all the places you love, and share them with others.
                </p>
            </div>
            <div class="column">
                <h2 class="subtitle">
                    How does it work?
                </h2>
                <p>
                    myPOI uses a simple and intuitive interface to let you add, edit, and delete placemarks. You can categorize your placemarks by type or by location, and you can also search and filter them to find what you're looking for quickly and easily.
                </p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="subtitle">
                    Technologies used
                </h2>
                <ul>
                    <li>Node.js backend</li>
                    <li>MVC pattern</li>
                    <li>Handlebars templating language</li>
                    <li>Bulma CSS framework</li>
                </ul>
            </div>
            <div class="column">
                <h2 class="subtitle">
                    Contact us
                </h2>
                <p>
                    If you have any questions or feedback about Placemark App, please feel free to contact us at <a href="mailto:info@placemarkapp.com">info@placemarkapp.com</a>.
                </p>
            </div>
        </div>
    </div>
</section>